name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./services/workflow-service

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Verify Go version
        run: go version

      - name: List files (debug)
        run: ls -la

      - name: Download dependencies
        run: go mod tidy

      - name: Run tests
        run: go test ./... -v

      - name: Build binary
        run: go build -o workflow-service ./cmd/main.go

  docker:
    name: Docker Build & Push
    needs: build-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./services/workflow-service

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest .
          docker tag ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}
