name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      # ----------------------------
      # Cache Go modules
      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('services/workflow-service/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      # ----------------------------
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: List files (debug)
        run: ls -R ./services/workflow-service

      - name: Go mod tidy
        working-directory: ./services/workflow-service
        run: go mod tidy

      - name: Run tests
        working-directory: ./services/workflow-service
        run: go test ./... -v

      - name: Build binary
        working-directory: ./services/workflow-service
        run: go build -v ./cmd/main.go

  docker:
    name: Docker Build & Push
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest ./services/workflow-service
          docker tag ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest \
                     ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}
