name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    name: Build & Test Services
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [workflow-service]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/go/bin
          key: ${{ runner.os }}-go-${{ hashFiles('services/${{ matrix.service }}/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Go mod tidy
        working-directory: ./services/${{ matrix.service }}
        run: go mod tidy

      - name: Run tests
        working-directory: ./services/${{ matrix.service }}
        run: go test ./... -v

      - name: Build binary
        working-directory: ./services/${{ matrix.service }}
        run: go build -v ./cmd/...

  docker:
    name: Docker Build & Push Services
    needs: build-test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [workflow-service]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest ./services/${{ matrix.service }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest \
                     ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:${{ github.sha }}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:${{ github.sha }}
