name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go 1.24
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Verify Go version
        run: go version

      - name: Download dependencies
        working-directory: ./services/workflow-service
        run: go mod tidy

      - name: Run tests
        working-directory: ./services/workflow-service
        run: go test ./... -v

      - name: Build binary
        working-directory: ./services/workflow-service
        run: go build -v -o workflow-service ./cmd/main.go

  docker:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        working-directory: ./services/workflow-service
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest .
          docker tag ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}
