name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    name: Build & Test Services
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [workflow-service]

    defaults:
      run:
        working-directory: services/${{ matrix.service }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Debug path
        run: |
          pwd
          ls -la
          ls -la services/${{ matrix.service }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: services/${{ matrix.service }}/go.mod

      - name: Go version
        run: go version

      - name: Go mod tidy
        run: go mod tidy

      - name: Run tests
        run: go test ./... -v

      - name: Build binary
        run: go build -v ./cmd/main.go

  docker:
    name: Docker Build & Push
    needs: build-test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [workflow-service]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:${{ github.sha }} \
            services/${{ matrix.service }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:${{ github.sha }}
