name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24

    - name: Go version
      run: go version

    - name: Go mod tidy
      working-directory: ./services/workflow-service
      run: go mod tidy

    - name: Go mod download
      working-directory: ./services/workflow-service
      run: go mod download

    - name: Go test
      working-directory: ./services/workflow-service
      run: go test ./...

    - name: Go build
      working-directory: ./services/workflow-service
      run: go build -v -o workflow-service ./cmd/main.go

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login Docker
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      working-directory: ./services/workflow-service
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest .
        docker tag ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest \
                   ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/workflow-service:${{ github.sha }}
